Repository gx12358/vue3-antd-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write

feat: upgrade @gx-design-vue component library and refactor related code
  config/default/defaultSettings.ts
  eslint.config.js
  internal/vite-plugin/fake-server/FakeFileLoader.ts
  internal/vite-plugin/fake-server/build.ts
  internal/vite-plugin/fake-server/client/defineFakeRoute.ts
  internal/vite-plugin/fake-server/client/index.ts
  internal/vite-plugin/fake-server/config.json
  internal/vite-plugin/fake-server/createFakeMiddleware.ts
  internal/vite-plugin/fake-server/createHookTemplate.ts
  internal/vite-plugin/fake-server/index.ts
  internal/vite-plugin/fake-server/node/constants.ts
  internal/vite-plugin/fake-server/node/getFakeFilePath.ts
  internal/vite-plugin/fake-server/node/getWatchPaths.ts
  internal/vite-plugin/fake-server/node/index.ts
  internal/vite-plugin/fake-server/node/parallelLoader.ts
  internal/vite-plugin/fake-server/node/resolveOptions.ts
  internal/vite-plugin/fake-server/node/types.ts
  internal/vite-plugin/fake-server/plugin.ts
  internal/vite-plugin/fake-server/resolvePluginOptions.ts
  internal/vite-plugin/fake-server/shared/index.ts
  internal/vite-plugin/fake-server/shared/simulateServerResponse.mjs
  internal/vite-plugin/fake-server/shared/types.ts
  internal/vite-plugin/fake-server/types.ts
  internal/vite-plugin/fake-server/utils/buildPackage.ts
  internal/vite-plugin/fake-server/utils/getRequestData.ts
  internal/vite-plugin/fake-server/utils/index.ts
  internal/vite-plugin/fake-server/utils/is.ts
  internal/vite-plugin/fake-server/utils/logger.ts
  internal/vite-plugin/fake-server/xhook/index.mjs
  internal/vite-plugin/index.ts
  mock/index.ts
  package.json
  pnpm-lock.yaml
  src/layout/IframeLayout.vue
  src/router/helper/routeHelper.ts
  src/router/routes/index.ts
  src/views/proComponents/dataEntry/proEditor/index.vue
  src/views/user/login/index.vue
  types/ant-design-import.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write

feat: upgrade @gx-design-vue component library and refactor related code
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/views/user/login/index.vue
  types/ant-design-import.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write

feat: upgrade @gx-design-vue component library and refactor related code
  mock/config/menu.ts
  src/router/helper/routeHelper.ts
  types/ant-design-import.d.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: migrate project architecture to monorepo with turbo repo structure
  scripts/vsh/src/index.ts
  scripts/vsh/src/lint/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

refactor: migrate project architecture to monorepo with turbo repo structure
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  README.md
  README.zh-CN.md
  apps/backend-mock/README.md
Due: prettier --cache --ignore-unknown --write

fix: correct parameter storage bug in the @gx/request shared request library
  apps/web-admin/src/services/base.ts
  packages/effects/request/src/client/fetch.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: add mock table example and integrate updated APIs with the advanced table page
  apps/backend-mock/api/demo/table/list.ts
  apps/backend-mock/utils/response.ts
  apps/web-admin/src/hooks/system/use-dict.ts
  apps/web-admin/src/hooks/system/use-oss.ts
  apps/web-admin/src/router/routes/modules/dashboard.ts
  apps/web-admin/src/services/demo/index.ts
  apps/web-admin/src/services/demo/table.ts
  apps/web-admin/src/services/system/dict.ts
  apps/web-admin/src/services/system/index.ts
  apps/web-admin/src/services/system/menu.ts
  apps/web-admin/src/services/system/oss.ts
  apps/web-admin/src/services/tenant/index.ts
  apps/web-admin/src/services/tenant/typing.ts
  apps/web-admin/src/services/user/account.ts
  apps/web-admin/src/services/user/index.ts
  apps/web-admin/src/services/user/typing.ts
  apps/web-admin/src/store/modules/oss.ts
  apps/web-admin/src/store/modules/user.ts
  apps/web-admin/src/views/account/center/index.vue
  apps/web-admin/src/views/account/settings/components/Base.vue
  apps/web-admin/src/views/dashboard/workspace/components/Radar.vue
  apps/web-admin/src/views/dashboard/workspace/index.vue
  apps/web-admin/src/views/dashboard/workspace/style.less
  apps/web-admin/src/views/dashboard/workspace/typing.ts
  apps/web-admin/src/views/pro-components/data-display/pro-table/index.vue
  apps/web-admin/src/views/pro-pages/list/basic/components/OperateModal.vue
  apps/web-admin/src/views/user/login/index.vue
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write

chore: remove Vben-related GitHub references and wording
  README.md
  README.zh-CN.md
  apps/backend-mock/routes/[...].ts
  apps/web-admin/src/views/dashboard/workspace/index.vue
  apps/web-admin/src/views/pro-components/layout/watermark/index.vue
  apps/web-admin/types/ant-design-import.d.ts
  internal/unocss-config/package.json
  internal/unocss-config/tsconfig.json
  internal/vite-config/src/typing.ts
  packages/effects/common-ui/package.json
  packages/effects/hooks/package.json
  playground/package.json
  scripts/deploy/build-local-docker-image.sh
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write

feat: complete page refactor, switch APIs to local mock service, improve types and hooks
  .lingma/rules/Prompts.md
  .lingma/rules/Routers.md
  apps/backend-mock/utils/jwt-utils.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix

feat: complete page refactor, switch APIs to local mock service, improve types and hooks
  apps/web-admin/package.json
  apps/web-admin/src/layout/BasicLayout.vue
  apps/web-admin/src/store/modules/layout.ts
  apps/web-admin/src/views/pro-components/data-entry/pro-upload/index.vue
  apps/web-admin/src/views/pro-pages/form/advanced-form/index.vue
  apps/web-admin/src/views/pro-pages/list/basic/style.less
  playground/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write

[ImgBot] Optimize images
  apps/web-admin/src/assets/images/public/watermark.png
Due: none

chore(release): version 4.0.1
  internal/vite-config/src/typing.ts
  playground/index.html
  playground/package.json
  playground/public/css/dark.css
  playground/public/css/default.css
  playground/public/css/index.css
  playground/public/css/light.css
  playground/public/css/normalize.css
  playground/public/img/image.jpg
  playground/public/img/logo.png
  playground/public/vite.svg
  playground/src/App.vue
  playground/src/design/index.less
  playground/src/main.ts
  playground/src/style.css
  playground/types/ant-design-import.d.ts
  playground/types/auto-imports.d.ts
  playground/unocss.config.ts
  playground/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --cache --write, prettier --write

feat(menu): update icon selector component
  CHANGELOG.en_US.md
  CHANGELOG.md
  CHANGELOG.zh_CN.md
  apps/web-admin/src/views/system/menu/components/Form/index.vue
  apps/web-admin/src/views/system/menu/components/IconSelect/index.tsx
  apps/web-admin/src/views/system/menu/components/IconSelect/style.module.less
  packages/effects/common-ui/src/icons/ant-icon/index.tsx
  packages/effects/common-ui/src/icons/index.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write

feat(menu): update icon selector component
  apps/web-admin/src/views/system/menu/components/Form/index.vue
Due: eslint --cache --fix, prettier --write

feat(menu): update icon selector component
  apps/web-admin/src/hooks/system/use-dict.ts
  apps/web-admin/src/services/base.ts
  apps/web-admin/src/services/user/index.ts
  apps/web-admin/src/views/system/menu/index.vue
  apps/web-admin/src/views/system/role/components/DataForm/index.vue
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Api.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Auth.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Client.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Code.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Connect.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/DataBase.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Developer.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Device.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/DocsAdd.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Document.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/ErrorCircleFull.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/EyeFull.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Forms.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Hdd.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Java.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Key.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Login.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Monitor.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Redis.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Rocket.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Sql.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Task.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/TouchLog.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Tune.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/UploadCloud.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/UploadFile.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/User2.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/Visit.tsx
  packages/effects/common-ui/src/icons/ant-icon/src/menu/index.ts
  packages/effects/request/src/module/error-status.ts
Due: prettier --cache --ignore-unknown --write, eslint --cache --fix, prettier --write

Path conditions:
  prettier --cache --ignore-unknown --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,html})) or (any of: *.md)
  eslint --cache --fix: (any of: *.{js,jsx,ts,tsx}) or (any of: *.vue)
  prettier --cache --write: any of: package.json
  prettier --write: any of: *.vue
